.headerdiv {
    background-color: #063d74;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    color: white;
    width: 90;
    opacity: 0.8;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .top-half, .bottom-half {
      height: 50vh;
      background-size: cover;
      background-position: center;
      background-repeat: repeat;
      display: flex;
      flex-direction: column; 
    }
  
    .top-half {
      background-image: url('https://img.freepik.com/premium-photo/football-stadium-shiny-lights-view-from-field-grass-turf-nobody-playground-tribunes-with-game-fans-space_266732-6129.jpg'); /* replace with your image */
    }
  
    .bottom-half {
      background-image: url('https://img.pikbest.com/wp/202344/grass-top-view-luscious-green-background-a-and-detailed-texture-of-soccer-field-s-turf-flooring_9936544.jpg!w700wp'); /* replace with your image */
      min-height: 50vh;
      height: auto;
      
    }
    .box{
      background-color: #063d74;
      padding: 20px;
      text-align: center;
      border-radius: 30px;
      margin: 10px;
      color: white;
      width: 90;
      opacity: 0.8;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    h2{
      color: white;
      text-align: left;
      font-size: 24px;
      margin: 10px;
      padding: 10px;
    }
    p{
      color: white;
      text-align: left;
      font-size: 24px;
      margin: 10px;
      padding: 10px;
    }
    .team-info{
      background-color: #063d74;
      padding: 20px;
      text-align: center;
      border-radius: 30px;
      margin: 10px;
      color: white;
      width: 90;
      opacity: 0.8;
      display: flex;
      max-height: 400px;
      overflow-y: auto;
      flex-direction: column;
      justify-content: space-between;
  
  
    }
    .headerbox{
      background-color: #063d74;
      padding: 20px;
      text-align: center;
      border-radius: 30px;
      margin: 10px;
      color: white;
      width: 100%;
      opacity: 0.8;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .matches{
      background-color: #063d74;
      padding: 20px;
      text-align: center;
      border-radius: 30px;
      margin: 10px;
      color: white;
      opacity: 0.8;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .newsbox{
      background-color: #063d74;
      padding: 20px;
      text-align: center;
      border-radius: 30px;
      margin: 10px;
      color: white;
      width: 90;
      height: 90px;
      opacity: 0.8;
      overflow:scroll;
      flex-direction: row;
      animation: scroll 20s linear infinite;
    }
    .ticker{
      display: inline-block;
        animation: scroll-vertical 20s linear infinite;
    }
    @keyframes scroll-vertical {
        0% { transform: translateY(0); }
        100% { transform: translateY(-600px); } /* 3 items × 50px */
      }
      .searchbox{
        background-color: #063d74;
        padding: 20px;
        text-align: center;
        border-radius: 30px;
        color: white;
        width: 90;
        opacity: 0.8;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    .contentbox{
      background-color: #063d74;
      padding: 20px;
      text-align: center;
      border-radius: 30px;
      margin: 10px;
      color: white;
      width: 90;
      height: 600px;
      opacity: 0.8;
      max-height: 400px;
      overflow-y: auto;
    }
    .Form{
      align-self: flex-start;
     
    }